---
title: "Dataset of the Week 1 - The Weather in Philadelphia"
description: "Cake and Candles on a Rainy Day..."
author: "Sose Hovannisian"
date: "2/06/2026"
categories:
  - DOW
  - Weather 
---

### What they say isn't true â€” It is *not* always Sunny in Philadelphia

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
weather_df = pd.read_csv('philadelphia_weather_2005_to_2025.csv')

### I have always been one to enjoy my birthday, but that was when my birthday was spent back home in sunny Los Angeles. Ever since moving to Philadelphia for university, my birthday has fallen on rather gloomy days. When I thought about it the other day, I realized that it has rained on my birthday here in Philly ever since I got here.

### I was curious to see how many times in the last 21 years it really did rain on February 27th!

![](bday.png)

## How many times has it rained on Feb 27th?

In [3]:
feb27 = weather_df.query('day== "February 27"')
feb27

,day,year,high,low,rain,snow,date,day_num,month_num,dow,dow_name,month
57,February 27,2005,36,23,0.00,0.0,2005-02-27,27,2,6,Sunday,February
422,February 27,2006,33,18,0.00,0.0,2006-02-27,27,2,0,Monday,February
787,February 27,2007,48,32,0.00,0.0,2007-02-27,27,2,1,Tuesday,February
1152,February 27,2008,44,27,0.00,0.0,2008-02-27,27,2,2,Wednesday,February
1518,February 27,2009,64,36,0.00,0.0,2009-02-27,27,2,4,Friday,February
1883,February 27,2010,41,27,0.00,0.0,2010-02-27,27,2,5,Saturday,February
2248,February 27,2011,56,36,0.00,0.0,2011-02-27,27,2,6,Sunday,February
2613,February 27,2012,60,32,0.00,0.0,2012-02-27,27,2,0,Monday,February
2979,February 27,2013,53,41,0.12,0.0,2013-02-27,27,2,2,Wednesday,February
3344,February 27,2014,35,16,0.00,0.0,2014-02-27,27,2,3,Thursday,February
3709,February 27,2015,31,22,0.00,0.0,2015-02-27,27,2,4,Friday,February
4074,February 27,2016,44,27,0.00,0.0,2016-02-27,27,2,5,Saturday,February
4440,February 27,2017,54,31,0.00,0.0,2017-02-27,27,2,0,Monday,February
4805,February 27,2018,56,33,0.00,0.0,2018-02-27,27,2,1,Tuesday,February
5170,February 27,2019,39,25,0.00,0.0,2019-02-27,27,2,2,Wednesday,February
5535,February 27,2020,48,32,0.21,0.0,2020-02-27,27,2,3,Thursday,February
5901,February 27,2021,52,34,0.36,0.0,2021-02-27,27,2,5,Saturday,February
6266,February 27,2022,52,29,0.00,0.0,2022-02-27,27,2,6,Sunday,February
6631,February 27,2023,51,35,0.24,0.0,2023-02-27,27,2,0,Monday,February
6996,February 27,2024,65,36,0.11,0.0,2024-02-27,27,2,1,Tuesday,February
7362,February 27,2025,54,42,0.02,0.0,2025-02-27,27,2,3,Thursday,February

### As we can see here, in the last 21 years, it has rained 6 times on February 27th. Let's see if of those 6 times, three of them truly were during my college years:

In [4]:
it_rained = feb27['rain']>0
feb27[it_rained]

,day,year,high,low,rain,snow,date,day_num,month_num,dow,dow_name,month
2979,February 27,2013,53,41,0.12,0.0,2013-02-27,27,2,2,Wednesday,February
5535,February 27,2020,48,32,0.21,0.0,2020-02-27,27,2,3,Thursday,February
5901,February 27,2021,52,34,0.36,0.0,2021-02-27,27,2,5,Saturday,February
6631,February 27,2023,51,35,0.24,0.0,2023-02-27,27,2,0,Monday,February
6996,February 27,2024,65,36,0.11,0.0,2024-02-27,27,2,1,Tuesday,February
7362,February 27,2025,54,42,0.02,0.0,2025-02-27,27,2,3,Thursday,February

### Aha! In my time at Penn (Aug 2022 - Present), it has in fact rained on my birthday every year! 

### Seems like the weather gods decided to take a year off in 2022, breaking up the streak from 2020-2025. 

### If only I had been born ten years earlier... would've seen blue skies and birthday smiles! Guess I am just cursed (just kidding)!

![](rain.png)

#### But how do we know this?

##### The steps taken via code are not all that different from what we would've done with a dataset by hand! The steps are actually rather simple:
- First, we filter for the February 27 dates in the 'day' column of the dataset
- Then, we access the 'rain' column to see if it rained or not. How do we know? If the listed number is > 0, it rained!
- Next, we count down the 'rain' column for the days with > 0.0 rain
- Finally, we concur: 6 recorded days of rain on February 27th in the last 21 years!

## Now, how different would this be if I was born just a month later, say, on March 27th?

### Let's follow the same steps to find out!

In [5]:
mar27 = weather_df.query('day== "March 27"')
mar27

,day,year,high,low,rain,snow,date,day_num,month_num,dow,dow_name,month
85,March 27,2005,52,40,0.11,0.0,2005-03-27,27,3,6,Sunday,March
450,March 27,2006,58,38,0.00,0.0,2006-03-27,27,3,0,Monday,March
815,March 27,2007,82,47,0.00,0.0,2007-03-27,27,3,1,Tuesday,March
1181,March 27,2008,50,43,0.04,0.0,2008-03-27,27,3,3,Thursday,March
1546,March 27,2009,63,42,0.00,0.0,2009-03-27,27,3,4,Friday,March
1911,March 27,2010,48,31,0.00,0.0,2010-03-27,27,3,5,Saturday,March
2276,March 27,2011,46,30,0.00,0.0,2011-03-27,27,3,6,Sunday,March
2642,March 27,2012,54,32,0.00,0.0,2012-03-27,27,3,1,Tuesday,March
3007,March 27,2013,52,37,0.00,0.0,2013-03-27,27,3,2,Wednesday,March
3372,March 27,2014,45,23,0.00,0.0,2014-03-27,27,3,3,Thursday,March
3737,March 27,2015,48,39,0.20,0.0,2015-03-27,27,3,4,Friday,March
4103,March 27,2016,60,44,0.02,0.0,2016-03-27,27,3,6,Sunday,March
4468,March 27,2017,62,42,0.09,0.0,2017-03-27,27,3,0,Monday,March
4833,March 27,2018,47,31,0.00,0.0,2018-03-27,27,3,1,Tuesday,March
5198,March 27,2019,53,31,0.00,0.0,2019-03-27,27,3,2,Wednesday,March
5564,March 27,2020,69,49,0.00,0.0,2020-03-27,27,3,4,Friday,March
5929,March 27,2021,69,48,0.00,0.0,2021-03-27,27,3,5,Saturday,March
6294,March 27,2022,45,31,0.00,0.0,2022-03-27,27,3,6,Sunday,March
6659,March 27,2023,66,39,0.15,0.0,2023-03-27,27,3,0,Monday,March
7025,March 27,2024,50,43,0.33,0.0,2024-03-27,27,3,2,Wednesday,March
7390,March 27,2025,54,33,0.00,0.0,2025-03-27,27,3,3,Thursday,March

### Now let's see how many of these March 27 days had recorded rain

In [6]:
it_rained_march = mar27['rain']>0
mar27[it_rained_march]

,day,year,high,low,rain,snow,date,day_num,month_num,dow,dow_name,month
85,March 27,2005,52,40,0.11,0.0,2005-03-27,27,3,6,Sunday,March
1181,March 27,2008,50,43,0.04,0.0,2008-03-27,27,3,3,Thursday,March
3737,March 27,2015,48,39,0.20,0.0,2015-03-27,27,3,4,Friday,March
4103,March 27,2016,60,44,0.02,0.0,2016-03-27,27,3,6,Sunday,March
4468,March 27,2017,62,42,0.09,0.0,2017-03-27,27,3,0,Monday,March
6659,March 27,2023,66,39,0.15,0.0,2023-03-27,27,3,0,Monday,March
7025,March 27,2024,50,43,0.33,0.0,2024-03-27,27,3,2,Wednesday,March

### One day more than Feb! 
#### I guess being born a month later really doesn't help much at all! If anything, it might be worse in terms of rain! However, I did selfishly notice only 2023 and 2024 of my college experience had recorded rain on March 27th, one less time than my true birthday.

## Oh well, at least it doesn't snow... right?!?!?!

### Let's double check just to be sure...

In [7]:
it_snowed = feb27['snow']>0
feb27[it_snowed]

Empty DataFrame
Columns: [day, year, high, low, rain, snow, date, day_num, month_num, dow, dow_name, month]
Index: []

### PHEW. No Snow.

### Thanks for tuning in to my weather journey! If only the code could predict whether it'll rain on my birthday this year! I guess only time will tell...

![](prediction.png)